* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;

}

.row after{
    content:"";
    display: table;
    clear: both;
}

input.modifiable-text{
    border: none;
    outline: none;
    display: inline;
    font-size:1em;
    width: 5em;
}
input.modifiable-text::placeholder{
    font: inherit;
    border: none;
    border-bottom: blue;

    /*todo: make the inputs bigger looking as a simple text. It's better to keep the boxes*/
}


.center{
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 250px;
}