<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" href="../static/styles.css"/>
<input type="hidden" id="isSenior" th:value="${isSenior}"/>
<head>
    <style>
        button{
            height: 300px;
            width: 20%
        }
    </style>
    <title th:text="#{role.cashier}"></title>
</head>
<body>
<div th:insert="common-header.html"></div>
<form action="/new_order" method="get" style="padding-top: 15%">
<row>
        <button th:if="${isSenior}" type="submit" formaction="/x-report" style="margin-left: 15%; margin-right: 5%" th:text="#{senior_cashier.xreport}"/>
        <button type="submit" style="text-align: center;" th:text="#{cashier.new_order}"/>
        <button th:if="${isSenior}" type="submit" formaction="/z-report" style="margin-right: 10%; margin-left: 5%" th:text="#{senior_cashier.xreport}"/>
</row>
</form>
</body>
</html>