<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{product.new}"/>
</head>
<body>
<div th:insert="common-header.html"></div>
    <form action="/products" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div>
         <label for="name" th:text="#{product.name}"/>
         <input type="text" name="productName" id="name" th:placeholder="#{product.name}"/>
      </div>
      <div>
        <label for="price" th:text="#{product.price}"/>
        <input type="text" name="price" id="price" placeholder="0.00"/>$
      </div>
      <div>
        <label for="quantity" th:text="#{product.quantity}"/>
        <input type="number" name="quantity" id="quantity" placeholder="0"/>
      </div>
      <div>
            <label for="description" th:text="#{product.description}"/>
            <input type="text" name="description" id="description" placeholder="description"/>
      </div>
        <div>
            <label for="image_link" th:text="#{product.image}"/>
            <input type="url" name="imageLink" id="image_link" placeholder="http://image.com"/>
        </div>
      <div>
        <button type="submit" th:text="#{product.create}"/>
      </div>
    </form>
</body>
</html>