<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a user</title>
</head>
<body>
    <form action="/new_user" method="post" style="text-align: center">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <label for="email">User's email</label>
            <input name="email" id="email" placeholder="user@email.com">
        </div>
          </br>

       <div>
           <label for="password">User's password</label>
           <input type="password" name="password" id="password" placeholder="password">
       </div>
           </br>
        <div>
            <label for="role">Choose role:</label>
            <select name="roleName" id="role">
                <option>CASHIER</option>
                <option>SENIOR_CASHIER</option>
                <option>COMMODITY_EXPERT</option>
                <option>ADMIN</option>
            </select>
        </div>
          </br>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>