<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.new_user}"/>
</head>
<body>
<div th:insert="common-header.html"></div>
    <form action="/new_user" method="post" style="text-align: center">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <label for="email" th:text="#{admin.user_email}"/>
            <input name="email" id="email" placeholder="user@email.com">
        </div>
          </br>

       <div>
           <label for="password" th:text="#{admin.user_password}"/>
           <input type="password" name="password" id="password" placeholder="password">
       </div>
           </br>
        <div>
            <label for="role" th:text="#{admin.role} + ':'"/>
            <select name="roleName" id="role">
                <option th:text="#{role.cashier}" value="CASHIER"/>
                <option th:text="#{role.senior_cashier}" value="SENIOR_CASHIER"/>
                <option th:text="#{role.commodity_expert}" value="COMMODITY_EXPERT"/>
                <option th:text="#{role.admin}" value="ADMIN"/>
            </select>
        </div>
          </br>
        <div>
            <button type="submit" th:text="#{admin.register}"/>
        </div>
    </form>
</body>
</html>