<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>

    <title th:text="${product_name}"></title>
</head>
<body>
    <div style="text-align: center" >
        <button type="button" onclick="showImageLinkInput()" style="width: 150px; height: 150px" >
            <img th:src="${image_link}" th:alt="'No image'"style="width: 150px; height: 150px">
        </button>
    </div>
    <form th:action="'/products/' + ${product_id} + '?method=update'" method="POST" id="product_form">

    <div id="image-link_div" style="visibility: hidden">
        <label for="image_link">Image link</label>
        <input type="url" name='imageLink' id="image_link" class="modifiable-text" th:value="${image_link}"/>
    </div>

        <div>
        <h1 style="color:green">Name:  <input type="text" name="name" class="modifiable-text" th:placeholder="${product_name}" th:value="${product_name}"/></h1>
        </div>
        <div>
        <h1 style="color:green">Price per unit or kg:  <input type="number" name="price" class="modifiable-text" th:placeholder="${price}+'$'" th:value="${price}"/></h1>
        </div>

        <div>
            <h1 style="color:green">Quantity in the warehouse:

                    <input type="number" name="quantity" class="modifiable-text" th:placeholder="${quantity}" th:value="${quantity}"/>

            </h1>
        </div>
    <div>
        <h1 style="color:green">Description: <br> <input type="text" name="description" class="modifiable-text" th:placeholder="${description}" th:value="${description}"/></h1>
    </div>
    <button type="submit">Update</button>
</form>


<script>
    function showImageLinkInput(){
        document.getElementById("image-link_div").style.visibility="visible";

    }
</script>
</body>
</html>